body {
    margin: auto;
}

.tranparency::after {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  margin-bottom: 25px;
}

.tranparency p {
  margin-top: 5px;
  font-size: 60px;
  color: #070000;
  margin-left: 30%;
  font-style: italic;
  font-weight: bold;
  box-shadow: #aa5353;
  margin-bottom: 25px;
  text-shadow: 0px 3px 5px rgba(170, 83, 83, .95);
}

.portfolio p {
    font-size: 50px;
    font-weight: bold;
    margin-left: 35%;
    color:  #590229;
    box-shadow: #d3cbce;
    font-weight: lighter;
    text-shadow: 0px 1px 3px rgba(211, 203, 206, .95);
}

h3 {
  margin-left: 35%;
  margin-top: -20%;
  color: #b2afae;
  font-size: 40px;
  font-weight: 500;
}

.portfolio {
  margin-top: 10px;
}

.front p {
  margin-left: 15px;
  font-size: 30px;
  color: #590229;
}

.front {
  border-bottom: 3px solid #070000;

}

.back p {
  margin-left: 15px;
  font-size: 30px;
  margin-top: 50px;
  color: #590229;
}

.projects {
  margin-top: 70px;
  overflow-x: hidden;
   overflow-y: scroll;
   height: 400px;
   margin-left: 2%;
}

a {
  color: #00141e;
  font-size: 20px;
}

img {
  width: 150px;
  height: 150px;
}
